<h1>TESTESTEST</h1>

<p>Seite: <%= @assessment_event %> </p>

<p>Benutzername: <%= @assessment_event.userName %> </p>
<p>Time: <%= @assessment_event.time %> </p>
<p>Datum: <%= @assessment_event.date %> </p>
<p>Session ID: <%= @assessment_event.sessionId %> </p>
<p>Induction Solution ID: <%= @assessment_event.inductionSolutionId %> </p>
<p>Description: <%= @assessment_event.description %> </p>

</br>

<p>Wohnort: <%= @nutzer.wohnort %> </p>

<p>Hobby: <%= @nutzer.hobby %> </p>

<p> Test: <%= @induction_problem.hint %> </p>